<!-- UNSOLVED TICKETS CURRENTLY-->

<div class="blockContainer open-tickets-currently">
  <div class="block">
    <h2>Backlogg, olösta ärenden</h2>
    <p class="line-p"><span><%= data.result %></span></p>
  </div>

  <!-- NEW TICKETS TODAY -->

  <div class="block">
    <h2>Nya ärenden idag</h2>
    <p class="line-p">
      <span> <%= data2.result.currentCount %> </span>
      <svg
        version="1.1"
        id="Capa_1"
        xmlns="http://www.w3.org/2000/svg"
        xmlns:xlink="http://www.w3.org/1999/xlink"
        x="0px"
        y="0px"
        viewBox="0 0 512.171 512.171"
        style="enable-background: new 0 0 512.171 512.171"
        xml:space="preserve"
        class="<%- (data2.result.currentCount > data2.result.lastCount ?'trend-positive':'trend-negative') %>"
      >
        <g>
          <g>
            <path
              d="M479.046,283.925c-1.664-3.989-5.547-6.592-9.856-6.592H352.305V10.667C352.305,4.779,347.526,0,341.638,0H170.971
                                                    c-5.888,0-10.667,4.779-10.667,10.667v266.667H42.971c-4.309,0-8.192,2.603-9.856,6.571c-1.643,3.989-0.747,8.576,2.304,11.627
                                                    l212.8,213.504c2.005,2.005,4.715,3.136,7.552,3.136s5.547-1.131,7.552-3.115l213.419-213.504
                                                    C479.793,292.501,480.71,287.915,479.046,283.925z"
            />
          </g>
        </g>
      </svg>
      <%= data2.result.diffCount > 0 ? '+' + data2.result.diffCount :
      data2.result.diffCount%>
    </p>
  </div>

  <!-- SOLVED TICKETS TODAY-->

  <div class="block">
    <h2>Lösta ärenden idag</h2>
    <p class="line-p">
      <span> <%= data3.result.currentCount %> </span>
      <svg
        version="1.1"
        id="Capa_1"
        xmlns="http://www.w3.org/2000/svg"
        xmlns:xlink="http://www.w3.org/1999/xlink"
        x="0px"
        y="0px"
        viewBox="0 0 512.171 512.171"
        style="enable-background: new 0 0 512.171 512.171"
        xml:space="preserve"
        class="<%- (data3.result.currentCount > data3.result.lastCount ?'trend-positive':'trend-negative') %>"
      >
        <g>
          <g>
            <path
              d="M479.046,283.925c-1.664-3.989-5.547-6.592-9.856-6.592H352.305V10.667C352.305,4.779,347.526,0,341.638,0H170.971
                                                            c-5.888,0-10.667,4.779-10.667,10.667v266.667H42.971c-4.309,0-8.192,2.603-9.856,6.571c-1.643,3.989-0.747,8.576,2.304,11.627
                                                            l212.8,213.504c2.005,2.005,4.715,3.136,7.552,3.136s5.547-1.131,7.552-3.115l213.419-213.504
                                                            C479.793,292.501,480.71,287.915,479.046,283.925z"
            />
          </g>
        </g>
      </svg>
      <%= data3.result.diffCount > 0 ? '+' + data3.result.diffCount :
      data3.result.diffCount%>
    </p>
  </div>

  <!-- SOLVED TICKETS THIS WEEK-->

  <div class="block">
    <h2>Lösta ärenden denna vecka</h2>
    <p class="line-p">
      <span> <%= data4.result.currentCount %> </span>

      <svg
        version="1.1"
        id="Capa_1"
        xmlns="http://www.w3.org/2000/svg"
        xmlns:xlink="http://www.w3.org/1999/xlink"
        x="0px"
        y="0px"
        viewBox="0 0 512.171 512.171"
        style="enable-background: new 0 0 512.171 512.171"
        xml:space="preserve"
        class="<%- (data4.result.currentCount > data4.result.lastCount ?'trend-positive':'trend-negative') %>"
      >
        <g>
          <g>
            <path
              d="M479.046,283.925c-1.664-3.989-5.547-6.592-9.856-6.592H352.305V10.667C352.305,4.779,347.526,0,341.638,0H170.971
                                                                    c-5.888,0-10.667,4.779-10.667,10.667v266.667H42.971c-4.309,0-8.192,2.603-9.856,6.571c-1.643,3.989-0.747,8.576,2.304,11.627
                                                                    l212.8,213.504c2.005,2.005,4.715,3.136,7.552,3.136s5.547-1.131,7.552-3.115l213.419-213.504
                                                                    C479.793,292.501,480.71,287.915,479.046,283.925z"
            />
          </g>
        </g>
      </svg>
      <%= data4.result.diffCount > 0 ? '+' + data4.result.diffCount :
      data4.result.diffCount%>
    </p>
  </div>

  <!-- SOLVED TICKETS THIS MONTH-->

  <div class="block">
    <div class="container">
      <h2>Lösta ärenden denna månad</h2>
      <p class="line-p">
        <span> <%= data5.result.currentCount %> </span>

        <svg
          version="1.1"
          id="Capa_1"
          xmlns="http://www.w3.org/2000/svg"
          xmlns:xlink="http://www.w3.org/1999/xlink"
          x="0px"
          y="0px"
          viewBox="0 0 512.171 512.171"
          style="enable-background: new 0 0 512.171 512.171"
          xml:space="preserve"
          class="<%- (data5.result.currentCount > data5.result.lastCount ?'trend-positive':'trend-negative') %>"
        >
          <g>
            <g>
              <path
                d="M479.046,283.925c-1.664-3.989-5.547-6.592-9.856-6.592H352.305V10.667C352.305,4.779,347.526,0,341.638,0H170.971
                                                                            c-5.888,0-10.667,4.779-10.667,10.667v266.667H42.971c-4.309,0-8.192,2.603-9.856,6.571c-1.643,3.989-0.747,8.576,2.304,11.627
                                                                            l212.8,213.504c2.005,2.005,4.715,3.136,7.552,3.136s5.547-1.131,7.552-3.115l213.419-213.504
                                                                            C479.793,292.501,480.71,287.915,479.046,283.925z"
              />
            </g>
          </g>
        </svg>
        <%= data5.result.diffCount > 0 ? '+' + data5.result.diffCount :
        data5.result.diffCount%>
      </p>
    </div>
  </div>
</div>
