/* OPEN TICKETS CURRENTLY */

.blockContainer {
  display: flex;
  flex-wrap: wrap;
  /* justify-content: space-between; */
}

.open-tickets-currently .container h2 {
  font-weight: 100;
  margin-bottom: 10px;
}

.open-tickets-currently svg {
  width: 20px;
}

.open-tickets-currently svg.trend-positive {
  transform: translateY(4px) rotate(225deg);
}

.open-tickets-currently svg.trend-negative {
  transform: translateY(4px) rotate(315deg);
}

.open-tickets-currently svg.trend-positive path {
  fill: green;
}

.open-tickets-currently svg.trend-negative path {
  fill: red;
}

.block {
  flex: 0 0 30%;
}

.block svg {
  width: 20px;
}

.block svg.trend-positive {
  transform: translateY(4px) rotate(225deg);
}

.open-tickets-currently svg.trend-negative {
  transform: translateY(4px) rotate(315deg);
}

.block svg.trend-positive path {
  fill: green;
}

.block svg.trend-negative path {
  fill: red;
}

.line-p span {
  font-size: 2em;
}

/* NEW TICKETS TODAY */

.new-tickets-today .container h2 {
  font-weight: 100;
  margin-bottom: 10px;
}

.new-tickets-today svg {
  width: 20px;
}

.new-tickets-today svg.trend-positive {
  transform: translateY(4px) rotate(225deg);
}

.new-tickets-today svg.trend-negative {
  transform: translateY(4px) rotate(315deg);
}

.new-tickets-today svg.trend-positive path {
  fill: green;
}

.new-tickets-today svg.trend-negative path {
  fill: red;
}

/* SOLVED TICKETS TODAY */

.solved-tickets-today .container h2 {
  font-weight: 100;
  margin-bottom: 10px;
}

.solved-tickets-today svg {
  width: 20px;
}

.solved-tickets-today svg.trend-positive {
  transform: translateY(4px) rotate(225deg);
}

.solved-tickets-today svg.trend-negative {
  transform: translateY(4px) rotate(315deg);
}

.solved-tickets-today svg.trend-positive path {
  fill: green;
}

.solved-tickets-today svg.trend-negative path {
  fill: red;
}

/* SOLVED TICKETS THIS WEEK */

.solved-tickets-this-week .container h2 {
  font-weight: 100;
  margin-bottom: 10px;
}

.solved-tickets-this-week svg {
  width: 20px;
}

.solved-tickets-this-week svg.trend-positive {
  transform: translateY(4px) rotate(225deg);
}

.solved-tickets-this-week svg.trend-negative {
  transform: translateY(4px) rotate(315deg);
}

.solved-tickets-this-week svg.trend-positive path {
  fill: green;
}

.solved-tickets-this-week svg.trend-negative path {
  fill: red;
}

/* SOLVED TICKETS THIS MONTH */

.solved-tickets-this-month .container h2 {
  font-weight: 100;
  margin-bottom: 10px;
}

.solved-tickets-this-month svg {
  width: 20px;
}

.solved-tickets-this-month svg.trend-positive {
  transform: translateY(4px) rotate(225deg);
}

.solved-tickets-this-month svg.trend-negative {
  transform: translateY(4px) rotate(315deg);
}

.solved-tickets-this-month svg.trend-positive path {
  fill: green;
}

.solved-tickets-this-month svg.trend-negative path {
  fill: red;
}
